@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
:root {
    font-size: 90%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    font-family: 'Noto Sans Thai', sans-serif;
}

:root {
    --bg-cl-1: #e5effc;
    --bg-cl-2: #fefefe;
    --nav-cl: #ffffff;
    --nav-shadow: #00000033;
    --text-cl: #000000;
}

.dark-theme {
    --bg-cl-1: #111111;
    --bg-cl-2: #1f1f1f;
    --nav-cl: #171717;
    --nav-shadow: #ffffff33;
    --text-cl: #ffffff;
}

body {
    background-image: linear-gradient(to right, var(--bg-cl-1) ,var(--bg-cl-2));
   
}

.text-nav {
    font-size: 1.5rem;
    color: var(--text-cl);
}

.button-css-df {
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    background-color: #3dbefa;
    transition-duration: 0.4s;
    border: 2px solid #25baff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.button-css-df:hover {
    cursor: pointer;
    background-color: #2cbcff9a;
}

.text-general {
    border-top: 10re;
    font-size: 2rem;
    color: var(--text-cl);
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.text-cl {
    color: var(--text-cl);
}

.nav-bar{
    background-color: var(--nav-cl);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 var(--nav-shadow);
    width: 100%;
    height: 100%;
}

.nav-end {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.nav-bar img {
    width: 12%;
    margin-left: 1rem;
    cursor: pointer;
}

.icon-theme {
    cursor: pointer;
}

.nav-bar .nav-end img {
    width: 1.8rem;
}

.darkmode{
    /* margin-top: 0.9rem; */
    position: absolute;
	width:4rem;
	height:1.5rem;
	border-radius:500px;
	border:2px solid #888;
	background-color:transparent;
	cursor:pointer;
	appearance:none;
}
.darkmode::before{
	content:'';
	position: absolute;
	left:4px;
	top:50%;
	width:1rem;
	height:1rem;
	background-color:#888;
	border-radius:50%;
	transform:translateY(-50%);
}
.darkmode.active::before{
	left:auto;
	right:4px;
}